
body{
    background-color: black;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    
}

.hero{
    display: grid;
    grid-template:repeat(26,25px)/ repeat(16,25px);
    /* animation: up-and-down 1s ease-in-out infinite; */
}
